@charset "utf-8";
/* CSS Document */

a{ text-decoration:none; color:#000; }
a:hover{ text-decoration:underline; }
input,select,textarea{ padding:3px; border:thin 1px #555; }
input[type=button],[type=submit],[type=reset]{
	padding:7px;
	background:#09F;
	color:#FFF;
	cursor:pointer;
	border-radius:0 0 17px 0;
	-moz-border-radius:0 0 17px 0;
	-o-border-radius:0 0 17px 0;
	-webkit-border-radius:0 0 17px 0;
	-ms-border-radius:0 0 17px 0;
}
input[type=button]:hover,[type=submit]:hover,[type=reset]:hover{
background:#0CF;
}
input:focus{ border:thin 1px #FF3;  }
hr{ border:solid 2px #555; }