@charset "utf-8";
/* CSS Document */

.artText{
	text-align:justify;	
}
.artTitle{
	font-weight:bold;
	font-size:16px;
}
.list li{
	list-style:url(../images/folder.png);
	margin-left:-12px;
}
.rdMore{
	background:-moz-linear-gradient(top, #2b88c9, #1b9cf6);
	background:-webkit-linear-gradient(top, #2b88c9, #1b9cf6);
	background:-o-linear-gradient(top, #2b88c9, #1b9cf6);
	background:-ms-linear-gradient(top, #2b88c9, #1b9cf6);
	background:-khtml-linear-gradient(top, #2b88c9, #1b9cf6);
	background:linear-gradient(top, #2b88c9, #1b9cf6);
	
	padding:10px;
	width:85px;
	border:solid 1px #0CF;
	color:white;
	cursor:pointer;
}
.rdMore:hover{
	color:#FC3;
}

/******************* Tab ********************/
.tab { 
  border-bottom: 1px solid #DDD;
  padding-bottom:5px;
}
.tab a {
  border:1px solid #DDD;
  color:#666666;
  padding: 5px 15px;
  text-decoration:none;
  background-color: #eee;
}
.tab a.activeTab { 
  background-color: #fff; 
  border-bottom: 0; 
  padding: 6px 15px;
}
.contentTab { border: 1px solid #ddd; border-top: 0;}
.hide { display: none;}