@charset "utf-8";
/* CSS Document */

/********************** Class Navigasi 1 Artikel **************************/
.artText{
	text-align:justify;	
}
.artTitle{
	font-weight:bold;
	font-size:16px;
}
/********************** Class Listing (li) **************************/
.list li{
	list-style:url(../images/folder.png);
	margin-left:-12px;
	margin-top:-10px;
}
/********************** Class Navigasi 2 Testimonial **************************/
.testiGambar img{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	
	-moz-box-shadow:0 0 3px #06F;
	-webkit-box-shadow:0 0 3px #06F;
	-o-box-shadow:0 0 3px #06F;
	-ms-box-shadow:0 0 3px #06F;
	-khtml-box-shadow:0 0 3px #06F;
	box-shadow:0 0 3px #06F;
	
	margin-bottom:10px;
	border:solid 1px 
}
.testi{
	float:left;
	margin-left:60px;
	margin-top:-62px;	
}
/********************** Class Selengkapnya **************************/
.rdMore{
	background:-moz-linear-gradient(top, #2b88c9, #1b9cf6);
	background:-webkit-linear-gradient(top, #2b88c9, #1b9cf6);
	background:-o-linear-gradient(top, #2b88c9, #1b9cf6);
	background:-ms-linear-gradient(top, #2b88c9, #1b9cf6);
	background:-khtml-linear-gradient(top, #2b88c9, #1b9cf6);
	background:linear-gradient(top, #2b88c9, #1b9cf6);
	
	padding:10px;
	width:85px;
	border:solid 1px #0CF;
	color:white;
	cursor:pointer;
}
.rdMore:hover{
	color:#FC3;
}

/******************* Tab ********************/
.tab { 
  border-bottom: 1px solid #DDD;
  padding-bottom:5px;
}
.tab a {
  border:1px solid #DDD;
  color:#666666;
  padding: 5px 15px;
  text-decoration:none;
  background-color: #eee;
}
.tab a.activeTab { 
  background-color: #fff; 
  border-bottom: 0; 
  padding: 6px 15px;
}
.contentTab { border: 1px solid #ddd; border-top: 0;}
.hide { display: none;}
}
