@charset "utf-8";
/* CSS Document */
/************************* Layout ***************************/
#layout{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	
	background:white;
	padding:5px;
	margin-top:50px;
	width:920px;
	margin:150px auto auto auto;
}
/************************* Navigation Head ***************************/
#navHead,.navHead{
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-o-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
	-khtml-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	
	background:-moz-linear-gradient(top, #1b9cf6, #2b88c9);
	background:-webkit-linear-gradient(top, #1b9cf6, #2b88c9);
	background:-o-linear-gradient(top, #1b9cf6, #2b88c9);
	background:-ms-linear-gradient(top, #1b9cf6, #2b88c9);
	background:-khtml-linear-gradient(top, #1b9cf6, #2b88c9);
	background:linear-gradient(top, #1b9cf6, #2b88c9);
	
	
	padding:5px;
	color:white;
	font-size:10px;
	text-align:center;
}
#navHead a{ color:white; padding:0 10px 0 10px; font-weight:bold; }

/************************* Banner ***************************/
#banner{ background:url(../images/banner.jpg); height:225px; }

/************************* Container Content ***************************/
#container{ padding:10px; }

/************************* Navigation 1 ***************************/
#nav1 {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	
	-moz-box-shadow:0 0 3px #06F;
	-webkit-box-shadow:0 0 3px #06F;
	-o-box-shadow:0 0 3px #06F;
	-ms-box-shadow:0 0 3px #06F;
	-khtml-box-shadow:0 0 3px #06F;
	box-shadow:0 0 3px #06F;
	
	width:47%;
	float:left;
	margin-right:10px;
	padding:10px;
	overflow:hidden;
}

/************************* Navigation 2 ***************************/
#nav2{
	width:27%;
	float:left;	
	margin-right:10px;
}

/************************* Navigation 3 ***************************/
#nav3{
	width:21%;
	float:left;	
}

/************************* Inner Navigation ***************************/
#innerNav{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	
	-moz-box-shadow:0 0 3px #06F;
	-webkit-box-shadow:0 0 3px #06F;
	-o-box-shadow:0 0 3px #06F;
	-ms-box-shadow:0 0 3px #06F;
	-khtml-box-shadow:0 0 3px #06F;
	box-shadow:0 0 3px #06F;
	
	margin-bottom:20px;
}

/************************* Inner Head Navigation ***************************/
#innerHead{
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-o-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0;
	-khtml-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	
	background:-moz-linear-gradient(top, #1b9cf6, #2b88c9);
	background:-webkit-linear-gradient(top, #1b9cf6, #2b88c9);
	background:-o-linear-gradient(top, #1b9cf6, #2b88c9);
	background:-ms-linear-gradient(top, #1b9cf6, #2b88c9);
	background:-khtml-linear-gradient(top, #1b9cf6, #2b88c9);
	background:linear-gradient(top, #1b9cf6, #2b88c9);
	
	background-image:url(../images/bg-innerHeader.png); 
	
	height:25px;
}

/************************* Inner Text Navigation Head ***************************/
#textHead{
	padding-top:4px;
	color:white;
	font-size:10px;
	font-weight:bold;	
}

/************************* Inner Content Navigation ***************************/
#inner{
	padding:5px;
}

/************************* Checklist ***************************/
#checklist{ 
	background:url(../images/ceklis.png) no-repeat; 
	width:36px; 
	height:20px;
	float:left;
}

/************************* Footer ***************************/
#footer{
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	-o-border-radius:0 0 5px 5px;
	-ms-border-radius:0 0 5px 5px;
	-khtml-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	
	background:-moz-linear-gradient(top, #2b88c9, #1b9cf6);
	background:-webkit-linear-gradient(top, #2b88c9, #1b9cf6);
	background:-o-linear-gradient(top, #2b88c9, #1b9cf6);
	background:-ms-linear-gradient(top, #2b88c9, #1b9cf6);
	background:-khtml-linear-gradient(top, #2b88c9, #1b9cf6);
	background:linear-gradient(top, #2b88c9, #1b9cf6);
	
	
	padding:5px;
	color:white;
	font-size:10px;
	text-align:center;
}

#footer a{ color:white; font-weight:bold; }