.archiveswrap{max-width:420px;width:420px;height:100px;padding:10px 0;}
.archivesbox img{float: left;}
.slide1{width: 100px;height: 100px;margin: auto;}
.slide1 img{max-width: 100px;max-height: 100px;cursor: pointer;clear: left;}
.noimgpadl{padding:7.5px 18px 7.5px 0 !important}
.archivesbox h4,.archivesbox h5{padding:6px 0 0;font-size:11px;line-height:16px;color:#4d9dd2;float:left}
.archivesbox h5{clear:both;color:#333}
.aboxtextwrap{width:160px;height:96px;float:left;overflow:hidden}