@charset "utf-8";
/* CSS Document */

body {
	background: url(../images/bg12.png) right top scroll repeat-x;
	line-height:1.5em;
	font-family:Verdana, Geneva, sans-serif;
    padding-top: 25px;
}
a { text-decoration:none; color:black; }
a:hover { text-decoration:underline; }
p,div,br,span,body,html,table,.shoutbox_table { font-size:10px; }
.clear { clear:both; }
